---
layout: default
title: Tom Monck JR by tmonck
---
<section id="contact">
	<div class="inner">
		<section>
			<form action="https://formspree.io/juniormonck@gmail.com" method="POST">
				<div class="field half first">
					<label for="name">Name</label>
					<input type="text" name="name" id="name" />
				</div>
				<div class="field half">
					<label for="email">Email</label>
					<input type="text" name="_replyto" id="email" />
				</div>
				<div class="field">
					<label for="message">Message</label>
					<textarea name="message" id="message" rows="6"></textarea>
				</div>
				<ul class="actions">
					<li><input type="submit" value="Send Message" class="special" /></li>
					<li><input type="reset" value="Clear" /></li>
				</ul>
			</form>
		</section>
		<section class="split">
			<section>
				<div class="contact-method">
					<span class="icon alt fas fa-envelope"></span>
					<h3>Email</h3>
					<a href="#">{{ site.email }}</a>
				</div>
			</section>
			<section>
				<div class="contact-method">
					<span class="icon alt fa-phone"></span>
					<h3>Phone</h3>
					<span>{{ site.phone }}</span>
				</div>
			</section>
			<section>
				<div class="contact-method">
					<span class="icon alt fa-home"></span>
					<h3>Address</h3>
					<span>
					{% if site.street_address %}
					    {{ site.street_address }}<br />
					{% endif %}
					{% if site.city %}
					    {{ site.city }},
					{% endif %}
					{% if site.state %}
					    {{ site.state }} 
					{% endif %}
					{% if site.zip_code %}
					    {{ site.zip_code }}<br />
					{% endif %}
					{% if site.country %}
					    {{ site.country }}
					{% endif %}
					</span>
				</div>
			</section>
		</section>
	</div>
</section>

<link rel="stylesheet" href="stylesheets/contact.css">


		<!-- <div class="ss-form-container">
			<div class="ss-top-of-page">
				<div class="ss-form-heading">
					<h1 class="ss-form-title" dir="ltr">Contact Me</h1>
					<p> Thank you for taking the time to contact me please use the form below for any questions, comments, or business related inquires.</p>
					<hr class="ss-email-break" style="display:none;">
					<div class="ss-required-asterisk">* Required</div>
				</div>
			</div>
		<form action="https://docs.google.com/forms/d/1OmDrRvXT73eTOfGDb--xkoqwBrT-OAJEG_V4gVDfQ1I/formResponse" method="POST" id="ss-form" target="_self" onsubmit="">
			<ol>
				<div class="ss-form-question errorbox-good">
					<div dir="ltr" class="ss-item ss-item-required ss-text">
						<div class="ss-form-entry">
							<label aria-hidden="true" class="ss-q-item-label aria-todo" for="entry_1247959841">
								<div class="ss-q-title">Name
									<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
									<span class="ss-required-asterisk">* This is a required field</span>
								</div>
								<div class="ss-q-help ss-secondary-text" dir="ltr"></div>
							</label>
							<input type="text" name="entry.1247959841" value="" class="ss-q-short" id="entry_1247959841" dir="auto" aria-label="Name  " aria-required="true" required="" title="">
							<div class="error-message"></div>
						</div>
					</div>
				</div>
				<div class="ss-form-question errorbox-good">
					<div dir="ltr" class="ss-item ss-item-required ss-text">
						<div class="ss-form-entry">
							<label aria-hidden="true" class="ss-q-item-label aria-todo" for="entry_1146580956">
								<div class="ss-q-title">Email Address
									<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
									<span class="ss-required-asterisk">* This is a required field</span>
								</div>
								<div class="ss-q-help ss-secondary-text" dir="ltr"></div>
							</label>
							<input type="text" name="entry.1146580956" value="" class="ss-q-short" id="entry_1146580956" dir="auto" aria-label="Email Address  " aria-required="true" required="" title="" width="860">
							<div class="error-message"></div>
						</div>
					</div>
				</div>
				<div class="ss-form-question errorbox-good">
						<div dir="ltr" class="ss-item ss-item-required ss-paragraph-text">
							<div class="ss-form-entry">
								<label aria-hidden="true" class="ss-q-item-label aria-todo" for="entry_1876744031">
									<div class="ss-q-title">Body
										<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
										<span class="ss-required-asterisk">* This is a required field</span>
									</div>
									<div class="ss-q-help ss-secondary-text" dir="ltr"></div>
								</label>
								<textarea name="entry.1876744031" rows="8" cols="0" class="ss-q-long" id="entry_1876744031" dir="auto" aria-label="Body  " aria-required="true" required=""></textarea>
								<div class="error-message"></div>
							</div>
						</div>
					</div>
				<input type="hidden" name="draftResponse" value="[,,&quot;2965168582638799902&quot;]">
				<input type="hidden" name="pageHistory" value="0">
				<input type="hidden" name="fbzx" value="2965168582638799902">

				<div class="ss-item ss-navigate">
					<input type="submit" name="submit" value="Submit" id="ss-submit">
					<div class="ss-secondary-text">Never submit passwords through Google Forms.</div>
				</div>
			</ol>
		</form>
	</div>
	 <iframe src="https://docs.google.com/forms/d/1OmDrRvXT73eTOfGDb--xkoqwBrT-OAJEG_V4gVDfQ1I/viewform?embedded=true" width="860" height="594" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe> -->