body {
    background-color: $dark-blue !important;
    max-width: 960px;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    margin: 20px 300px 20px 300px;
}
.link-annotation {
    position: absolute;
    cursor: pointer;
    outline:var(--link-outline);

    &:hover{
      backdrop-filter:var(--hcm-highlight-filter);

      opacity:0.2;
      background-color:$dark-slate-gray;
      box-shadow:0 2px 10px $dark-slate-gray;
    }
}

footer {
    flex-direction: row;
}
p, span{
    color: $gray !important;
}
h1, h2, h3{
    color: $dark-slate-gray;
    font-weight: bold;
		line-height: 1.65;
		margin: 0 0 0 0;
}
h3 {
		font-size: 1.35em;
}

a {
    color: $forest-green;
}
a:hover {
    color: $dark-slate-gray;
}

#content {
    padding: 5px;
}

#pdfNav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    strong, p {
        display: flex;
        justify-content: center;
        span {
            padding: 10px;
        }
    }
    #prev {
        visibility: hidden;
        margin-right: auto;
        // float: left;
    }
    #prev.visible {
        visibility: visible;
    }
    #next {
        visibility: hidden;
        margin-left: auto;
        // float: right;
    }
    #next.visible {
        visibility: visible;
    }
}

img {
    float: left;
    margin-right: 1em;
}


ul#navBar {
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    li {
        padding: 5px;
    }
}

ul.icons {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
@-ms-viewport{
    width: device-width;
}
