<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Tom Monck JR by tmonck</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
	<script type="text/javascript" src="javascripts/myjs.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  
  <body>
  
    <div class="wrapper">
	
      <header>
        <h1>Tom Monck JR</h1>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/Resume">Resume</a></li>
				<li><a href="/Contact">Contact Me</a></li>
			</ul>
		<p class="view"><a href="https://github.com/tmonck">View My GitHub Profile</a></p>
      </header>
	  
      <section>
		{{ content }}
      </section>
	  
      <footer>
        <p><small>Last Updated at {{ site.time }}</small></p>
      </footer>
    </div>
	
	<script type="text/javascript" src="">
	</script>

  </body>
</html>