<!doctype html>
<html>
  <head>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <meta charset="utf-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="chrome=1"> -->
    <meta name=”viewport” content=”width=device-width, initial-scale=1″>
    <title>Tom Monck JR by tmonck</title>
    <link rel="stylesheet" href="assets/css/styles.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <script src="https://unpkg.com/pdfjs-dist@4.4.168/build/pdf.mjs" type="module"></script>
    <script src="https://unpkg.com/pdfjs-dist@4.4.168/web/pdf_viewer.mjs" type="module"></script>
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
      <ul id="navBar">
          <li><a href="/">About</a></li>
          <li><a href="/resume">Resume</a></li>
          <li><a href="/contact">Contact Me</a></li>
      </ul>
      <div>
        <div class="wrapper">
          <section id="content">
		        {{ content }}
          </section>
        </div>
      <footer id="footer">
        <ul class="icons">
          {% if site.github_url %}
          <li><a href="{{ site.github_url }}" class="icon alt fa fa-github" target="_blank"><span class="label">GitHub</span></a></li>
          {% endif %}
          {% if site.linkedin_url %}
          <li><a href="{{ site.linkedin_url }}" class="icon alt fa fa-linkedin" target="_blank"><span class="label">LinkedIn</span></a></li>
          {% endif %}
        </ul>
      </footer>
    </div>
  </body>
</html>
